{% extends 'master/base_admin.html' %}

{% set title = "bendungan" %}
{% set subtitle = "data teknis" %}

{% block css %}
<style media="screen">

</style>
{% endblock %}

{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Data Teknis Bendungan</h1>
      </div>
      <!-- <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard v3</li>
        </ol>
      </div>-->
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header border-transparent">
    <h3 class="card-title">Daftar Bendungan</h3>

    <!-- <div class="card-tools">

    </div> -->
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table m-0">
        <thead>
            <tr>
              <th>Nama</th>
              <th>Daya Tampung</th>
              <th>Muka Air Minimal</th>
              <th>Muka Air Normal</th>
              <th>Muka Air Maksimal</th>
              <th>Elevasi Puncak</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                  <a href="{{ url_for('admin.operasi_bendungan', bendungan_id=1) }}">
                      Bendungan Logung
                  </a>
              </td>
              <td align="right">3,000,000</td>
              <td align="right">-</td>
              <td align="right">-</td>
              <td align="right">-</td>
              <td align="right">-</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer clearfix">

  </div>
</div>
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}
