{% extends 'master/base_admin.html' %}

{% set title = "operasi" %}
{% set subtitle = "bendungan" %}

{% block css %}
<style media="screen">

</style>
{% endblock %}

{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">
            Data Periodik Bendungan Logung
            <a href="{{ url_for('admin.operasi_chart', bendungan_id=1) }}" class="btn btn-sm btn-primary ml-1">
                <i class="fas fa-chart-line"></i>
            </a>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
    <div class="col-4 text-center">
        <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#formPagi">
            <i class="fas fa-edit"></i>
            Data Pagi
        </a>
    </div>
    <div class="col-4 text-center">
        <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#formSiang">
            <i class="fas fa-edit"></i>
            Data Siang
        </a>
    </div>
    <div class="col-4 text-center">
        <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#formSore">
            <i class="fas fa-edit"></i>
            Data Sore
        </a>
    </div>

    <!-- Modal Form Pagi -->
    <div class="modal fade" id="formPagi" tabindex="-1" role="dialog" aria-labelledby="formPagiLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="formPagiLabel">Input Data Pagi</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group row">
                <label for="inputTmaPagi" class="col-sm-4 col-form-label">TMA Pagi</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="number" step="0.01" class="form-control" id="inputTmaPagi" placeholder="123">
                        <div class="input-group-append">
                          <span class="input-group-text">m</span>
                        </div>
                    </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputCh" class="col-sm-4 col-form-label">Curah Hujan</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="number" step="0.01" class="form-control" id="inputCh" placeholder="12.4">
                        <div class="input-group-append">
                          <span class="input-group-text">mm</span>
                        </div>
                    </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputVn" class="col-sm-4 col-form-label">VNotch</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="number" step="0.01" class="form-control" id="inputVn" placeholder="1.23">
                        <div class="input-group-append">
                          <span class="input-group-text">L/det</span>
                        </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
            <button type="button" class="btn btn-primary">Kirim</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Form Siang -->
    <div class="modal fade" id="formSiang" tabindex="-1" role="dialog" aria-labelledby="formPagiLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="formPagiLabel">Input Data Siang</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group row">
                <label for="inputTmaPagi" class="col-sm-4 col-form-label">TMA Siang</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="number" step="0.01" class="form-control" id="inputTmaPagi" placeholder="123">
                        <div class="input-group-append">
                          <span class="input-group-text">m</span>
                        </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
            <button type="button" class="btn btn-primary">Kirim</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Form Sore -->
    <div class="modal fade" id="formSore" tabindex="-1" role="dialog" aria-labelledby="formPagiLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="formPagiLabel">Input Data Sore</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group row">
                <label for="inputTmaPagi" class="col-sm-4 col-form-label">TMA Sore</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="number" step="0.01" class="form-control" id="inputTmaPagi" placeholder="123">
                        <div class="input-group-append">
                          <span class="input-group-text">m</span>
                        </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
            <button type="button" class="btn btn-primary">Kirim</button>
          </div>
        </div>
      </div>
    </div>

</div>

<div class="card">
  <div class="card-header border-transparent">
      <div class="row text-center">
          <div class="col-1">
              <a href="#" class="btn btn-sm btn-outline-primary">
                  <i class="fas fa-arrow-left"></i>
              </a>
          </div>
          <div class="col-10">
              <h5>Juli 2020</h5>
          </div>
          <div class="col-1">
              <a href="#" class="btn btn-sm btn-outline-primary">
                  <i class="fas fa-arrow-right"></i>
              </a>
          </div>
      </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table m-0">
        <thead>
            <tr>
              <th>Tanggal</th>
              <th class="text-center">Curah Hujan</th>
              <th class="text-center">TMA Pagi</th>
              <th class="text-center">TMA Siang</th>
              <th class="text-center">TMA Sore</th>
              <th class="text-center">VNotch</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(28) %}
            <tr>
              <td id="tgl">2020-07-{{ 28 - i }}</td>
              <td align="right">12</td>
              <td align="right">123</td>
              <td align="right">123</td>
              <td align="right">123</td>
              <td align="right">2.4</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer clearfix">

  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/id.js') }}"></script>
<script>
let tgls = document.querySelectorAll("#tgl");
tgls.forEach(function(el){
    console.log(el.value);
    el.innerText = moment(el.innerText).format('dddd, LL');
});
</script>
{% endblock %}
