{% extends 'master/base_admin.html' %}

{% set title = "operasi" %}
{% set subtitle = "chart" %}

{% block css %}
<style media="screen">

</style>
{% endblock %}

{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Grafik Data Bendungan Logung</h1>
      </div>
      <!-- <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard v3</li>
        </ol>
      </div>-->
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header border-transparent">
      <div class="row text-center">
          <div class="col-1">
              <a href="#" class="btn btn-sm btn-outline-primary">
                  <i class="fas fa-arrow-left"></i>
              </a>
          </div>
          <div class="col-10">
              <h5>Juli 2020</h5>
          </div>
          <div class="col-1">
              <a href="#" class="btn btn-sm btn-outline-primary">
                  <i class="fas fa-arrow-right"></i>
              </a>
          </div>
      </div>
  </div>
</div>

<div class="card">
    <div class="card-header border-transparent">
      <h3 class="card-title">Curah Hujan</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
  <div class="card-body p-0">
      <div class="chart">
        <!-- Sales Chart Canvas -->
        <canvas id="chChart" height="180" style="height: 180px;"></canvas>
      </div>
  </div>
  <div class="card-footer clearfix">

  </div>
</div>

<div class="card">
    <div class="card-header border-transparent">
      <h3 class="card-title">Tinggi Muka Air</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
  <div class="card-body p-0">
      <div class="chart">
        <!-- Sales Chart Canvas -->
        <canvas id="tmaChart" height="180" style="height: 180px;"></canvas>
      </div>
  </div>
  <div class="card-footer clearfix">

  </div>
</div>

<div class="card">
    <div class="card-header border-transparent">
      <h3 class="card-title">VNotch</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
  <div class="card-body p-0">
      <div class="chart">
        <!-- Sales Chart Canvas -->
        <canvas id="vnChart" height="180" style="height: 180px;"></canvas>
      </div>
  </div>
  <div class="card-footer clearfix">

  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>
<script>
    // CH CHART
    var chChartCanvas = $('#chChart').get(0).getContext('2d')

    var chChartData = {
      labels: [{% for i in range(31) %}'{{ i+1 }} Juli',{% endfor %}],
      datasets: [
        {
          label: 'Curah Hujan',
          backgroundColor: 'rgba(60,141,188,0.9)',
          borderColor: 'rgba(60,141,188,0.8)',
          pointRadius: false,
          pointColor: '#3b8bba',
          pointStrokeColor: 'rgba(60,141,188,1)',
          pointHighlightFill: '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data: [{% for i in range(31) %}{{ range(0, 30) | random }},{% endfor %}]
        }
      ]
    }

    var chChartOptions = {
      maintainAspectRatio: false,
      responsive: true,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          gridLines: {
            display: false
          }
        }],
        yAxes: [{
          gridLines: {
            display: false
          }
        }]
      }
    }
    var chChart = new Chart(chChartCanvas, {
          type: 'bar',
          data: chChartData,
          options: chChartOptions
        }
    )

    // TMA CHART
    var tmaChartCanvas = $('#tmaChart').get(0).getContext('2d')

    var tmaChartData = {
      labels: [{% for i in range(31) %}'{{ i+1 }} Juli',{% endfor %}],
      datasets: [
        {
          label: 'Curah Hujan',
          backgroundColor: 'rgba(60,141,188,0.9)',
          borderColor: 'rgba(60,141,188,0.8)',
          pointRadius: false,
          pointColor: '#3b8bba',
          pointStrokeColor: 'rgba(60,141,188,1)',
          pointHighlightFill: '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data: [{% for i in range(31) %}{{ range(1, 100) | random }},{% endfor %}]
        }
      ]
    }

    var tmaChartOptions = {
      maintainAspectRatio: false,
      responsive: true,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          gridLines: {
            display: false
          }
        }],
        yAxes: [{
          gridLines: {
            display: false
          }
        }]
      }
    }
    var tmaChart = new Chart(tmaChartCanvas, {
          type: 'line',
          data: tmaChartData,
          options: tmaChartOptions
        }
    )

    // VNOTCH CHART
    // CH CHART
    var vnChartCanvas = $('#vnChart').get(0).getContext('2d')

    var vnChartData = {
      labels: [{% for i in range(31) %}'{{ i+1 }} Juli',{% endfor %}],
      datasets: [
        {
          label: 'Curah Hujan',
          backgroundColor: 'rgba(60,141,188,0.9)',
          borderColor: 'rgba(60,141,188,0.8)',
          pointRadius: false,
          pointColor: '#3b8bba',
          pointStrokeColor: 'rgba(60,141,188,1)',
          pointHighlightFill: '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data: [{% for i in range(31) %}{{ range(0, 5) | random }},{% endfor %}]
        }
      ]
    }

    var vnChartOptions = {
      maintainAspectRatio: false,
      responsive: true,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          gridLines: {
            display: false
          }
        }],
        yAxes: [{
          gridLines: {
            display: false
          }
        }]
      }
    }
    var vnChart = new Chart(vnChartCanvas, {
          type: 'bar',
          data: vnChartData,
          options: vnChartOptions
        }
    )
</script>
{% endblock %}
